extends ../layout.pug

block content

    .home-wrapper
        .banner-image
            img(class="img-responsive", src="assets/images/banners/ecu-square-banner.jpg", alt="El Comite Urbano Banner")

            .banner-overlay
            .banner-content
                span.banner-title.animated.fadeInDown El Comite Urbano
                span.banner-subtitle.animated.fadeInUp El Mejor Radio Show En NYC

            .banner-social
                .container.no-padding
                    ul.social-media-share-home
                        li
                            a(target="_blank", class="fa fa-3x fa-facebook-official facebook-color", href="https://www.facebook.com/elcomiteurbanoradio")
                        li
                            a(target="_blank", class="fa fa-3x fa-instagram instagram-color", href="https://www.instagram.com/elcomiteurbanoradio")
                        li
                            a(target="_blank", class="fa fa-3x fa-youtube youtube-color", href="https://www.youtube.com/elcomiteurbanoradio")
                        li
                            a(target="_blank", class="fa fa-3x fa-soundcloud soundcloud-color", href="https://soundcloud.com/elcomiteurbanoradio")
                        li
                            a(target="_blank", class="fa fa-3x fa-twitter twitter-color", href="https://www.twitter.com/elcomiteurbano")

        section.section.bg-light
            .container
                span.section.title YouTube
                .row
                    each video, i in youtube.videos
                        .col-sm-6.margin-bottom-4
                            .soundcloud-wrapper.height-300
                                img.img-responsive(src=video.imageUrl, alt=video.title)

                                .content
                                    span.artists #{video.publishedAt}
                                    span.title 
                                        a(class="mfp-video-popup mfp-iframe", href=video.videoUrl) #{video.title}
                                    a(class="mfp-video-popup mfp-iframe text-success", href=video.videoUrl) View

        if promos.length > 0
            section.section.bg-dark
                .container
                    span.section.title Promos
                    
                    div.carousel.slide.carousel-fade(id="carousel-promos", data-ride="carousel")
                        .carousel-inner(role="listbox")
                            each row, index in promos
                                .item(class=index === 0 ? "active": "")
                                    .row
                                        each promo, i in row.content
                                            .col-xs-6(class=i === 0 ? "no-left-padding" : "no-right-padding")
                                                .promo-wrapper
                                                    img(src=promo.imageUrl, alt="Promo Cover")

                                                    .content
                                                        span.artists #{promo.artists}
                                                        span.title #{promo.title}
                                                        a(href=promo.downloadUrl, class="download-link") Download

        section.section.bg-light
            .container
                span.section.title Soundcloud
                .row
                    each song in songs
                        .col-md-4.col-sm-6.col-xs-12.margin-bottom-4
                            .soundcloud-wrapper
                                img(src=song.imageUrl, alt=song.title, class="img-responsive", width="100%")
                                
                                .content
                                    span.artists #{song.artists}
                                    span.title 
                                        a(class="mfp-video-popup mfp-iframe", href=song.trackUrl) #{song.title}
                                    a(class="mfp-video-popup mfp-iframe text-success", href=song.trackUrl) Listen

    script.
        requirejs(['js/scripts/home'], function(HomeScript) {
            new HomeScript();
        });