extends ../layout.pug

block content
    .header.header-filter.header-banner
        .container
            .row
                .col-md-12
                    .brand
                        h1.text-center EL COMITE URBANO
                        h3.text-center #1 Online Radio Station

    .main.main-raised
        .container
            section.video-promo.top-margin
                .panel.panel-default
                    .panel-body
                        .embed-responsive.embed-responsive-16by9
                            iframe(class="embed-responsive-item", src=featuredVideo.videoUrl, frameborder="0", style="border: 0px none transparent;")

            section.videos.top-margin
                .row
                    .col-md-6
                        each video, index in youtube.videos
                            if index % 2 === 0
                                .panel.panel-default
                                    .panel-body
                                        img(src=video.imageUrl, alt=video.title, class="img-responsive", width="100%")
                                        h4
                                            a(class="mfp-video-popup mfp-iframe", href=video.videoUrl) #{video.title}
                                    .panel-footer
                                        a(class="mfp-video-popup mfp-iframe text-success", href=video.videoUrl) View
                                        p.text-success.pull-right #{video.publishedAt}
                    .col-md-6
                        each video, index in youtube.videos
                            if index % 2 !== 0
                                .panel.panel-default
                                    .panel-body
                                        img(src=video.imageUrl, alt=video.title, class="img-responsive", width="100%")
                                        h4
                                            a(class="mfp-video-popup mfp-iframe", href=video.videoUrl) #{video.title}
                                    .panel-footer
                                        a(class="mfp-video-popup mfp-iframe text-success", href=video.videoUrl) View
                                        p.text-success.pull-right #{video.publishedAt}
            hr

            section.music.top-margin
                .row
                    each song in soundcloud
                        .col-md-4.col-sm-6
                            .panel.panel-default
                                .panel-body
                                    img(src=song.imageUrl, alt=song.title, class="img-responsive", width="100%")
                                    h4
                                        a(class="mfp-video-popup mfp-iframe", href=song.trackUrl) #{song.title}
                                    small.truncate #{song.artists}
                                .panel-footer
                                    a(class="mfp-video-popup mfp-iframe text-success", href=song.trackUrl) Listen
                                    if song.download_url
                                        a(class="text-success pull-right", href=song.download_url) Download
                            
    script.
        requirejs(['/js/scripts/index.js']);