extends ../layout.pug

block content

    .main.main-raised(style="margin-top: 0;")
        .container
            section.videos.top-margin
                .row
                    .col-md-6
                        each video, index in youtube.videos
                            if index % 2 === 0
                                .panel.panel-default
                                    .panel-body
                                        img(src=video.imageUrl, alt=video.title, class="img-responsive", width="100%")
                                        h4
                                            a(class="mfp-video-popup mfp-iframe", href=video.videoUrl) #{video.title}
                                    .panel-footer
                                        a(class="mfp-video-popup mfp-iframe text-success", href=video.videoUrl) View
                                        p.text-success.pull-right #{video.publishedAt}
                    .col-md-6
                        each video, index in youtube.videos
                            if index % 2 !== 0
                                .panel.panel-default
                                    .panel-body
                                        img(src=video.imageUrl, alt=video.title, class="img-responsive", width="100%")
                                        h4
                                            a(class="mfp-video-popup mfp-iframe", href=video.videoUrl) #{video.title}
                                    .panel-footer
                                        a(class="mfp-video-popup mfp-iframe text-success", href=video.videoUrl) View
                                        p.text-success.pull-right #{video.publishedAt}