mixin card_wrapper_video(video)
    .card-wrapper
        img.img-responsive.img-bg.height-250(src=video.imageUrl, alt=video.title)
        .card-content-wrapper
            span.card-content-view-count
                i.fa.fa-eye
                |  #{video.view_count}
            span.card-content-title.truncate #{video.title}
            span.divider
            a.mfp-video-popup.mfp-iframe(href=video.videoUrl) View

mixin card_wrapper_song(song)
    .card-wrapper
        img.img-responsive.img-bg(src=song.imageUrl, alt=song.title)
        .card-content-wrapper
            span.card-content-subtitle.truncate #{song.artists}
            span.card-content-title.truncate #{song.title} #{song.title}
            span.divider
            a.mfp-video-popup.mfp-iframe(href=song.trackUrl) Listen

mixin card_wrapper_promo(promo)
    .card-wrapper
        img.img-responsive.img-bg(src=promo.imageUrl, alt=promo.artists)
        .card-content-wrapper
            span.card-content-subtitle.truncate #{promo.artists}
            span.card-content-title.truncate #{promo.title}
            span.divider
            a(href=promo.downloadUrl.replace('media/', 'media%2F') + "&token=" + promo.token, download) Download